/* Liege Airport Colors (.eblg)
Orange: f18700
Blue: 0e64ae
<li><a href="#about" role="tab"><img src="oscars/i/liegeairport.png" alt="Liege Airport" title="Oscars GIP for Liege Airport" width="18" height="18"></a></li>
*/
.about.eblg {
    background-image: url(i/liegeairport-32.png);
}

.eblg.badge {
    background: #f18700;
    border-color: #f18700;
}

.leaflet-bar a.oscars:hover {
    color: #0e64ae;
}

h1.sidebar-header.eblg {
    color: #f18700;
}

.active .eblg.liege,
.eblg.liege:hover {
    color: #0e64ae;
}