.wire-expired {
    color: #e08e0b;
}

.wire-not-expired {
    color: red;
}

a.wire-more-link {
    text-decoration: none;
    outline: none;
}

.wire-more-content span {
    display: none;
}

.message-header span.time {
    display-style: inline-cell;
    float: right;
}

.message-header span.title {
    font-weight: bold;
    font-size: 120%;
}

.timeline.collapse-lg li.time-label {
    background-color: #00c0ef;
    border: 3px solid white;
    color: white;
    width: 10em;
    padding: 4px;
    text-align: center;
}

div.timeline-circ.circ-xl.style-primary {
    background-color: #3c8dbc;
}

div.timeline-circ.circ-xl.style-success {
    background-color: #00a65a;
}

div.timeline-circ.circ-xl.style-default {
    background-color: #777;
}

div.timeline-circ.circ-xl.style-warning {
    background-color: #f39c12;
}

div.timeline-circ.circ-xl.style-danger {
    background-color: #f56954;
}

div.timeline-circ.circ-xl.style-info {
    background-color: #00c0ef;
}

.timeline.collapse-lg .timeline-circ {
    left: 8px;
}

.gip-indicator .gip-header {
    font-size: 1em;
    text-transform: uppercase;
}

.gip-indicator .gip-body {
    font-size: 4em;
    text-transform: uppercase;
}

.gip-indicator .gip-footer {
    font-size: 1.5em;
    text-transform: uppercase;
}

.marker {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #777;
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
}

.markers span {
    font-size: 3em;
}

.markers a {
    margin-bottom: 20px;
}

.marker.marker-inner {
    border: 3px solid white;
    background-color: white;
    color: black;
}

.marker.marker-middle {
    border: 3px solid white;
    background-color: yellow;
    color: black;
}

.marker.marker-outer {
    border: 3px solid white;
    background-color: blue;
    color: white;
}

.marker:hover {
    text-decoration: none;
}

.gip-table .gip-body,
.metar .gip-body {
    font-size: 10px;
    text-align: left;
    text-transform: none;
}

.metar .gip-body {
    padding-left: 5px;
}

td.gip-percent {
    text-align: right;
}

td.gip-reason {
    text-transform: capitalize;
}

.timeline-circ.style-accent,
.label.label-accent {
    background-color: #9c27b0;
    color: #ffffff;
}

.message-tag-pills span.label-primary {
    color: blue;
}

.card {
    border-radius: 6px;
}

.card.style-default-bright {
    background-color: rgba(255, 255, 255, 0.40);
}

.timeline-entry .card.style-default-bright:after {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.60);
}

.timeline-inverted .timeline-entry .card {
    margin-bottom: 4px;
}

.timeline-circ.circ-xl {
    top: 4px;
}