/*L-Oscars.css v. 2.3.0*/

body {
    padding: 0;
    margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html, body, #map {
    height: 100%;
    width: 100%;
}

.oscars-label {
	background: transparent;
	border: none;
	box-shadow: none;
	font-size: 10px;
	font-weight: bolder;
}

/* removes the little caret from tooltip text to marker */
.oscars-label.leaflet-tooltip-top:before,
.oscars-label.leaflet-tooltip-bottom:before,
.oscars-label.leaflet-tooltip-left:before,
.oscars-label.leaflet-tooltip-right:before {
	content: none;
}

.leaflet-control-layers-group label input.leaflet-control-layers-selector {
	margin-left: 10px;
}
.leaflet-control-layers {
	box-shadow: none;
	width: 100%;
}

/* Sidebar Adjustments */
.leaflet-sidebar {
	box-shadow: none;
}
.leaflet-sidebar-tabs > li.active,
.leaflet-sidebar-tabs > ul > li.active,
.leaflet-sidebar-tabs > li:hover,
.leaflet-sidebar-tabs > ul > li:hover,
h1.leaflet-sidebar-header {
	background-color: transparent;
}
.leaflet-sidebar-tabs, .leaflet-sidebar-tabs > ul {
    position: absolute;
    width: 60px;
}

h2.leaflet-sidebar-header {
	margin-top: 20px;
	font-size: 10px;
	text-align: right;
	background-color: transparent;
	color: black;
}
.leaflet-sidebar-tabs {
	background-color: transparent;
}
.leaflet-sidebar-content {
	background-color: rgba(220, 220, 220, 0.6);
	border: 1px solid white;
	box-shadow: none;
}
.leaflet-sidebar-close {
	right: 0;
}
.timeline-hairline.timeline {
	margin-left: 1px;
}
div.sidebar-pane-content {
    overflow: auto;
    overflow-x:hidden;
}
.leaflet-sidebar {
  position: absolute;
  height: 97%;
  z-index: 2000; }

#gip-gip-wire {
	font-size: 10px;
}
/**/
.timeline-circ.circ-xl .fa {
	font-size: 24px;
	line-height: 38px;
}
.oscars-credits tr td {
	padding: 6px;
	font-style: italic;
	font-size: smaller;
}
/**/
a .badge {
   position:relative;
}
.badge {
  display: block;
  position: absolute;
  top: -50px;
  right: -40px;
  line-height: 16px;
  font-size: 12px;
  font-weight: bolder;
  height: 16px;
  width: 16px;
  color: white;
  background: #db2004;
  border: 1px solid;
  border-radius: 10px;
  border-color: #f00;
}
.clean-wire,
.sound-onoff {
	float: right;
}
.o-search {
	margin-top: 10px;
	color: #aaa;
	font-size: 2em;
}
.leafletjs-peity {
	border: none;
	background: transparent;
}
/* About... logos */
div.gip-logo {
   content:url(i/gip.png);
   width: 200px;
   margin:auto;
}
div.leafletjs-logo {
   content:url(i/leafletjs.png);
   width: 100px;
}
div.mapbox-logo {
   content:url(i/mapbox.png);
   width: 100px;
}
div.osm-logo {
   content:url(i/osm.png);
   width: 100px;
}
div.stamen-logo {
   content:url(i/stamen.png);
   width: 100px;
}
div.stadia-logo {
   content:url(i/stadia.png);
   width: 100px;
}
.leaflet-control-search.search-exp {
	box-shadow: none;
}
.leaflet-control-search .search-input {
	border: 1px solid #ddd;
	padding: 8px;
	font-size: 16px;
}
.leaflet-control-search .search-cancel {
	margin-top: 12px;
	padding-right: 8px;
}
.leaflet-control-search .search-button {
	margin-top: 8px;
	margin-left: 6px;
}
/**/
.sidebar-tabs, .sidebar-tabs > ul {
  width: 60px;
}
.sidebar-tabs > li, .sidebar-tabs > ul > li {
    height: 60px;
}
.leaflet-bar,
.leaflet-bar a {
	background-color: transparent;
	border: none;
	color: rgba(100, 100, 100, 0.4);
	text-shadow: 2px 2px 2px rgba(127, 127, 127, 0.05);
	box-shadow: none;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	padding: 8px;
	font-size: 40px;
	font-weight: normal;
}
.liege {
	padding-left: 18px;
	font-size: 40px;
	font-weight: normal;
	color: rgba(100, 100, 100, 0.2);
	text-shadow: 2px 2px 2px rgba(127, 127, 127, 0.05);
}
.about {
	display: inline-block;
	width: 32px;
	height: 32px;
}
/* CLIENT SETUP */
/* Oscars Defaults ¨*/
h1.sidebar-header.oscars {
	color: #db2004;
}
.oscars.badge {
  background: #db2004;
  border-color: #db2004;
}
.leaflet-bar a.oscars:hover {
	color: #db2004;
}
.active .oscars.liege,
.oscars.liege:hover {
	color: #db2004;
}
.about.oscars {
	background-image: url(i/red-32.png) ;
}
/* Liege Airport Colors (.eblg)
Orange: f18700
Blue: 0e64ae
<li><a href="#about" role="tab"><img src="oscars/i/liegeairport.png" alt="Liege Airport" title="Oscars GIP for Liege Airport" width="18" height="18"></a></li>
*/
.about.eblg {
	background-image: url(i/liegeairport-32.png) ;
}
.eblg.badge {
  background: #f18700;
  border-color: #f18700;
}
.leaflet-bar a.oscars:hover {
	color: #0e64ae;
}
h1.sidebar-header.eblg {
	color: #f18700;
}
.active .eblg.liege,
.eblg.liege:hover {
	color: #0e64ae;
}

.message-tag-pills span {
  display: inline-block;
  border: 2px solid #CCC;
  color: #AAA;
  padding: 0px 4px;
  margin: 1px;
  cursor: pointer;
  border-radius: 12px 12px 12px 12px;
  -moz-border-radius: 12px 12px 12px 12px;
  -webkit-border-radius: 12px 12px 12px 12px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.o-search i.fa-remove {
  padding: 8px;
  float: right;
}
.o-search i.fa-search {
  padding: 8px;
}


.wire-expired {
    color: #e08e0b;
}

.wire-not-expired {
    color: red;
}

a.wire-more-link {
    text-decoration: none;
    outline: none;
}

.wire-more-content span {
    display: none;
}

.message-header span.time {
    display-style: inline-cell;
    float: right;
}

.message-header span.title {
    font-weight: bold;
    font-size: 120%;
}

.timeline.collapse-lg li.time-label {
    background-color: #00c0ef;
    border: 3px solid white;
    color: white;
    width: 10em;
    padding: 4px;
    text-align: center;
}

div.timeline-circ.circ-xl.style-primary {
    background-color: #3c8dbc;
}

div.timeline-circ.circ-xl.style-success {
    background-color: #00a65a;
}

div.timeline-circ.circ-xl.style-default {
    background-color: #777;
}

div.timeline-circ.circ-xl.style-warning {
    background-color: #f39c12;
}

div.timeline-circ.circ-xl.style-danger {
    background-color: #f56954;
}

div.timeline-circ.circ-xl.style-info {
    background-color: #00c0ef;
}

.timeline.collapse-lg .timeline-circ {
    left: 8px;
}

.gip-indicator .gip-header {
    font-size: 1em;
    text-transform: uppercase;
}

.gip-indicator .gip-body {
    font-size: 4em;
    text-transform: uppercase;
}

.gip-indicator .gip-footer {
    font-size: 1.5em;
    text-transform: uppercase;
}

.marker {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 38px;
    border: 3px solid #f5f5f5;
    border-radius: 50%;
    color: #f5f5f5;
    text-align: center;
    text-decoration: none;
    background: #777;
    box-shadow: 0 0 3px gray;
    font-size: 20px;
    font-weight: bold;
}

.markers span {
    font-size: 3em;
}

.markers a {
    margin-bottom: 20px;
}

.marker.marker-inner {
    border: 3px solid white;
    background-color: white;
    color: black;
}

.marker.marker-middle {
    border: 3px solid white;
    background-color: yellow;
    color: black;
}

.marker.marker-outer {
    border: 3px solid white;
    background-color: blue;
    color: white;
}

.marker:hover {
    text-decoration: none;
}

.gip-table .gip-body,
.metar .gip-body {
    font-size: 10px;
    text-align: left;
    text-transform: none;
}

.metar .gip-body {
    padding-left: 5px;
}

td.gip-percent {
    text-align: right;
}

td.gip-reason {
    text-transform: capitalize;
}

.timeline-circ.style-accent,
.label.label-accent {
    background-color: #9c27b0;
    color: #ffffff;
}

.card {
    border-radius: 6px;
}

.card.style-default-bright {
    background-color: rgba(255, 255, 255, 0.40);
}

.timeline-entry .card.style-default-bright:after {
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.60);
}

.timeline-inverted .timeline-entry .card {
    margin-bottom: 4px;
}

.timeline-circ.circ-xl {
    top: 4px;
}

.small-padding {
  padding: 4px;
}

.message-footer p {
  margin: 0px;
}


.leaflet-sidebar-tabs ul li a i {
  padding-left: 18px;
  font-size: 40px;
  font-weight: normal;
  color: rgba(100, 100, 100, 0.2);
  text-shadow: 2px 2px 2px rgba(127, 127, 127, 0.05);
}

.leaflet-sidebar-tabs ul li a:hover i {
  color: #ffffff;
}

.oscars.form-control {
  height: 28px;
  width: 80%;
}

path, circle {
  stroke-width: 4px;
  fill: transparent;
}

.bg {
  stroke: white;
  stroke-dasharray: 4 12;
}

.move {
  stroke: red;
  animation: link-anim 3s infinite steps(21);
  stroke-dasharray: 4 12 4 12 4 300;
}

@keyframes link-anim {
  0% {
    stroke-dashoffset: 368;
  }
  100% {
    stroke-dashoffset: 32;
  }
}

